.App {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  background-color: #FAFDFF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

ul#template {
  padding-inline-start: 0px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

#content-box {
  border-radius: 4px;
  background: var(--blue-100-light-blue, #ECF6FE);
  display: flex;
  height: 36px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}

.item-container {
  border: 1px dashed var(--blue-400-blue, #0A6CB9);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
}

#item-content {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}